
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni kullanıcı ekleme sayfası</h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Ad:" name="user_name" class="form-control" />
    <input type="text" placeholder="Soyad:" name="user_surname" class="form-control" />
    <input type="text" placeholder="Mail:" name="user_mail" class="form-control" />
    <input type="password" placeholder="Şifre:" name="user_password" class="form-control" />
    <button class="btn btn-primary">Ekle</button>

</form>