@using EntityLayer1.Concrete
@model List<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
      
       
        <th>Yetkisini Değiştir</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.admin_id</td>
    <td>@item.admin_username</td>
    <td>@item.admin_role</td>
    
    
    <td><a href="/Authorization/UpdateAdmin/@item.admin_id" class="btn btn-warning">Yetkisini Değiştir</a></td>
 

</tr>
    }
</table>
<br />
<a href="/Authorization/AddAdmin/" class="btn btn-info">Yeni Admin Tanımla</a>

